.scheduleByDay {
    width: 100%;
    background-image: url("../../images/Map_EastAustin_gradient_blur_colored.png");
    background-size: 100%;
    color: #333;
    padding: 10px;
    text-align: left;
}

.map {
    margin-right: 0;
}

.dateTag {
    font-size: 1.5rem;
}