@import url(https://fonts.googleapis.com/css?family=Oswald&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.nav {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100%;
    background-color: #184097;
    top: 0;
    position: sticky;
    z-index: 1;
}

img {
    height: 30px;
}

.right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #137ad6;
  color: white;
}

.active {
  background-color: #137ad6;
}

/* .nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */