@import url(https://fonts.googleapis.com/css?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css?family=Shrikhand&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.nav {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: #184097;
    top: 0;
    position: sticky;
    z-index: 1;
}

.account-links {
  display: flex;
  margin-left: auto;
}

img {
    height: 30px;
}

.right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
  float: left;
  display: block;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #137ad6;
  color: white;
  margin: auto;
}

.active {
  background-color: #137ad6;
}

/* ul li ul {
  visibility: hidden;
  opacity: 0;
  width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  z-index: 2;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 100px !important;
  z-index: 2;
}

ul li ul li {
  clear: both;
  width: 100%;
} */