<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./MainNav.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="#">EASTSIDE KINGS FESTIVAL</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">FAQ</a></li>
            <li class="right"><a href="#">Sign In</a></li>
            <li class="right"><a href="#">Sign Up</a></li>
          </ul>
    </div>
</body>
</html>