

font {
    color: black;
}

p {
    color: black;
    font-size: 18px;
    line-height: 2rem
}

#privacy-div h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

#privacy-div h5 {
    font-size: 0.8rem;
}

#privacy-div li {
    float: none !important;
    color: rgb(41, 41, 41);
    font-size: 12px;
    line-height: 1rem;
    padding: 10px 10px;
  }

#privacy-div h6 {
    /* color:black; */
    font-weight: bold;
    padding-top: 25px;
}

#privacy-div p {
    font-size: 12px;
    line-height: 1rem;
    color: black;
}