font {
    color: black;
}

p {
    color: black;
    font-size: 18px;
    line-height: 2rem
}

h6 {
    text-align: left;
    
}

li {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }