.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 32%;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    float: left;
    /* z-index: -1; */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
  }

  .image {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }

  img {
    width: 25%;
    height: 25%;
  }
  
  img.artistImage {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
  }

  img.artistImage:hover {
      transform: scale(1.1);
      transition: 0.5s;
  }

  .button {
    background-color: #00a9e7;
    font-family: 'Oswald', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 48%;
    border-radius: 5px;
  }

  .button:hover {
      background-color: #137ad6;
      transition: 0.5s;
  }