<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./ArtistCard.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="card">
        <div class="image">
            <img src="https://www.placehold.it/150x150" alt="artist">
        </div>
        <div class="container">
            <h4>Artist Name</h4>
            <button class="button">About</button>
            <button class="button">Event Info</button>
        </div>
    </div>
</body>
</html>