.nav-tabs {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00a9e7;
}

ul {
    list-style-type: none;
  }
  
  li.tab {
    float: left;
    width: 33.3%
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #137ad6;
  }
  
  .active {
    background-color: #137ad6;
  }